* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: white;
}
.navbar {
  display: flex;
  margin: 12px;
  padding: 21px;
  /* justify-content: space-around; */
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0-1px 25px -10px rgba(255, 255, 255, 0.5),
    0 1px 25px -10px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(40px);
  height: 13vh;
  width: 99%;
  position: sticky;
  top: 0;
  overflow: hidden;
}
.navbar div img {
  height: 70px;
  margin-left: 5px;
}
.JuVerse1 {
  margin-right: 35rem;
  padding: 0 7px;
  font-size: 1.7rem;
  font-family: IBM Plex Mono;
}
.navbar ul {
  display: flex;
  justify-content: center;
}
.navbar ul li {
  list-style: none;
  color: white;
  margin: 0 19px;
  padding: 4px 2px;
  font-size: 1.5rem;
  font-family: Inter;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.4s ease-in-out;
}
.navbar ul li a:hover {
  font-size: 1.7rem;
  color: rgb(56, 54, 54);
}
.future-verse {
  display: block;
  align-items: center;
  text-align: center;
  margin: 4vw 0;
}
.future-verse h1 {
  text-align: center;
  align-items: center;
  font-size: 2.5rem;
  font-family: sans-serif;
}
.future-verse h2 {
  text-align: center;
  font-size: 2.4rem;
  font-family: sans-serif;
}
.JUVERSE {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* margin: 4vw 0; */
  font-size: 15rem;
  color: #353434;
}
/* .Verse{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle at var(--x) var(--y), transparent 10%, rgba(0,0,0,0.95) 20%);
} */

.About-Us {
  /* display: block; */
  align-items: center;
  text-align: center;
  margin: 4vw 0;
}
.About-Us h3 {
  text-align: center;
  align-items: center;
  font-size: 7rem;
  font-family: sans-serif;
}
.About-Us p {
  font-size: 2rem;
  text-align: center;
  margin: 4vw 0;
  font-family: monospace;
}

.image-container {
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.image-box {
  margin: 0 10px;
  /* height: 7%; */
  width: 500px;
  height: 25px;

 
}
.image-box img{
  width: 100%;
  display: block;
  margin: auto;
}

.content p {
  font-family: monospace;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  text-align: center;
}
.image-content1{
  width: 100%;
  height: auto;
  border: 2px solid black;
  /* margin: auto; */
  top: 0;
  left: 0;
  position:absolute;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  opacity: 0;
  transition: all 0.6s ease-in-out; 
}
.image-content2{
  width: 100%;
  height: auto;
  border: 2px solid black;
  /* margin: auto; */
  top: 0;
  left: 0;
  position:absolute;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  opacity: 0;
  transition: all 0.6s ease-in-out; 
}
.image-content3{
  width: 100%;
  height: auto;
  border: 2px solid black;
  /* margin: auto; */
  top: 0;
  left: 0;
  position:absolute;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  opacity: 0;
  transition: all 0.6s ease-in-out; 
}
.image-content4{
  width: 100%;
  height: auto;
  border: 2px solid black;
  /* margin: auto; */
  top: 0;
  left: 0;
  position:absolute;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  opacity: 0;
  transition: all 0.6s ease-in-out; 
}
.image-content1:hover{
  opacity: 1;
  background-color: rgb(113, 113, 207);
  border-radius: 10px;
  border-color:  rgb(2, 32, 80);
}
.image-content2:hover{
  opacity: 1;
  background-color: rgb(226, 111, 111);
  border-radius: 10px;
  border-color: red;
}
.image-content3:hover{
  opacity: 1;
  background-color: rgb(133, 123, 123);
  border-radius: 10px;
  border-color: rgb(74, 72, 72);
}
.image-content4:hover{
  opacity: 1;
  background-color: rgb(118, 224, 118);
  border-radius: 10px;
  border-color: rgb(3, 69, 3);
}
.image-content1 h3{
  font-size: 3.5rem;
}
.image-content2 h3{
  font-size: 3.5rem;
}
.image-content3 h3{
  font-size: 3.5rem;
}
.image-content4 h3{
  font-size: 3.5rem;
}
.Events{
  text-align: center;
  margin: 40px 0;
  position: relative;
}
.Events h4{
  text-align: center;
  align-items: baseline;
  font-size: 7rem;
  font-family: sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  position: relative;
  margin-top: 400px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin-top: 100px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  object-fit: cover;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}