* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: white;
}
.navbar {
  display: flex;
  margin: 12px;
  padding: 21px;
  /* justify-content: space-around; */
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0-1px 25px -10px rgba(255, 255, 255, 0.5),
    0 1px 25px -10px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(40px);
  height: 13vh;
  width: 99%;
  position: sticky;
  top: 0;
  overflow: hidden;
}
.navbar div img {
  height: 70px;
  margin-left: 5px;
}
.JuVerse1 {
  margin-right: 35rem;
  padding: 0 7px;
  font-size: 1.7rem;
  font-family: IBM Plex Mono;
}
.navbar ul {
  display: flex;
  justify-content: center;
}
.navbar ul li {
  list-style: none;
  color: white;
  margin: 0 19px;
  padding: 4px 2px;
  font-size: 1.5rem;
  font-family: Inter;
}
.navbar ul li a {
  text-decoration: none;
color: white;
  transition: all 0.4s ease-in-out;
}
.navbar ul li a:hover {
    font-size: 1.7rem;
    color: rgb(56, 54, 54);
   
}
.future-verse {
  display: block;
  align-items: center;
  text-align: center;
  margin: 4vw 0;
}
.future-verse h1{
  text-align: center;
  align-items: center;
  font-size: 2.5rem;
  font-family: sans-serif;
}
.future-verse h2{
  text-align: center;
  font-size: 2.4rem;
  font-family: sans-serif;
  
}
.JUVERSE{
  display: block;
  align-items: center;
  text-align: center;
  /* margin: 4vw 0; */
  font-size: 15rem;
  color: #353434;
  
}
.About-Us{
  /* display: block; */
  align-items: center;
  text-align: center;
  margin: 4vw 0;
}
.About-Us h3{
  text-align: center;
  align-items: center;
  font-size: 7rem;
  font-family:  sans-serif;
  

}
.About-Us p{
  font-size: 2rem;
  text-align: center;
  margin: 4vw 0;
  font-family: monospace;

}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img{
  margin: 0 12px;
  
 
 }


 














